@model Agrs.Models.F1Model
<style type="text/css">
    #agrs_views_f1_detail table table td {
        padding: 2px;
    }

        #agrs_views_f1_detail table table td:nth-child(1) {
            text-align: right;
        }

        #agrs_views_f1_detail table table td input {
            padding: 2px;
        }

            #agrs_views_f1_detail table table td input[type="text"] {
                width: 200px;
            }
</style>
<style type="text/css">
    #agrs_views_f1_detail div.modal_bg {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

        #agrs_views_f1_detail div.modal_bg div.modal_box {
            width: 380px;
            height: 320px;
            border: 1px solid black;
            padding: 2px;
            background-color: #fff;
            overflow: hidden;
            margin: 15% auto;
        }

            #agrs_views_f1_detail div.modal_bg div.modal_box div.header span {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

                #agrs_views_f1_detail div.modal_bg div.modal_box div.header span:hover,
                #agrs_views_f1_detail div.modal_bg div.modal_box div.header span:hover {
                    color: black;
                    cursor: pointer;
                    text-decoration: none;
                }

            #agrs_views_f1_detail div.modal_bg div.modal_box div.content tr:nth-child(2n+1) {
                background-color: #eee;
            }

            #agrs_views_f1_detail div.modal_bg div.modal_box div.content tr:hover {
                background-color: #ff8;
            }
</style>
<div id="agrs_views_f1_detail" style="width: 1095px; height:auto; overflow: hidden;">
    @if ((Model.NetSqlГарзаДоговоры != null) && (Model.NetSqlГарзаДоговоры.Rows.Count > 0))
    {
        Object v6 = Model.NetSqlГарзаДоговоры.Rows[0]["f6"];
        Object v7 = Model.NetSqlГарзаДоговоры.Rows[0]["f7"];
        Object v8 = Model.NetSqlГарзаДоговоры.Rows[0]["f8"];
        Object v9 = Model.NetSqlГарзаДоговоры.Rows[0]["f9"];
        Object v13 = Model.NetSqlГарзаДоговоры.Rows[0]["f13"];
        Object v71 = Model.NetSqlГарзаДоговоры.Rows[0]["ДатаОкончания"];
        String ur = ((Model.NetSqlГарзаДоговоры.Rows[0]["ДолжнаБытьРассылка"] != DBNull.Value) && (Double)Model.NetSqlГарзаДоговоры.Rows[0]["ДолжнаБытьРассылка"] == 1) ? "checked='checked'" : "";
        String urd1 = ((Model.NetSqlГарзаДоговоры.Rows[0]["ВключитьВРассылкуСчет"] != DBNull.Value) && (Double)Model.NetSqlГарзаДоговоры.Rows[0]["ВключитьВРассылкуСчет"] == 1) ? "checked='checked'" : "";
        String urd2 = ((Model.NetSqlГарзаДоговоры.Rows[0]["ВключитьВРассылкуРасходную"] != DBNull.Value) && (Double)Model.NetSqlГарзаДоговоры.Rows[0]["ВключитьВРассылкуРасходную"] == 1) ? "checked='checked'" : "";
        String urd3 = ((Model.NetSqlГарзаДоговоры.Rows[0]["ВключитьВРассылкуАкт"] != DBNull.Value) && (Double)Model.NetSqlГарзаДоговоры.Rows[0]["ВключитьВРассылкуАкт"] == 1) ? "checked='checked'" : "";
        String urd4 = ((Model.NetSqlГарзаДоговоры.Rows[0]["ВключитьВРассылкуСчет_фактуру"] != DBNull.Value) && (Double)Model.NetSqlГарзаДоговоры.Rows[0]["ВключитьВРассылкуСчет_фактуру"] == 1) ? "checked='checked'" : "";
        String urd5 = ((Model.NetSqlГарзаДоговоры.Rows[0]["ВключитьВРассылкуДокументыКачества"] != DBNull.Value) && (Double)Model.NetSqlГарзаДоговоры.Rows[0]["ВключитьВРассылкуДокументыКачества"] == 1) ? "checked='checked'" : "";
        <input type="hidden" name="f0" value="@Model.NetSqlГарзаДоговоры.Rows[0]["f0"]" />
        <input type="hidden" name="f14" value="@Model.NetSqlГарзаДоговоры.Rows[0]["f14"]" />
        <br />
        <table>
            <tr>
                <td class="c1">
                    <table>
                        <tr>
                            <td>Вид контракта:</td>
                            <td>
                                <select name="f1">
                                    <option value=""></option>
                                    @{
                                        String value = Model.NetSqlГарзаДоговоры.Rows[0]["f1"] as String;
                                        if (value == "эл.аукцион")
                                        {
                                            <option value="эл.аукцион" selected="selected">эл.аукцион</option>
                                        }
                                        else
                                        {
                                            <option value="эл.аукцион">эл.аукцион</option>
                                        }
                                        if (value == "котировка")
                                        {
                                            <option value="котировка" selected="selected">котировка</option>
                                        }
                                        else
                                        {
                                            <option value="котировка">котировка</option>
                                        }
                                        if (value == "комм./разовый")
                                        {
                                            <option value="комм./разовый" selected="selected">комм./разовый</option>
                                        }
                                        else
                                        {
                                            <option value="комм./разовый">комм./разовый</option>
                                        }
                                        if (value == "счёт-договор")
                                        {
                                            <option value="счёт-договор" selected="selected">счёт-договор</option>
                                        }
                                        else
                                        {
                                            <option value="счёт-договор">счёт-договор</option>
                                        }
                                        if (value == "оферта")
                                        {
                                            <option value="оферта" selected="selected">оферта</option>
                                        }
                                        else
                                        {
                                            <option value="оферта">оферта</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>№ п/п (внутр):</td>
                            <td><input type="text" name="f2" value="@Model.NetSqlГарзаДоговоры.Rows[0]["f2"]" /></td>
                        </tr>
                        <tr>
                            <td>№ договора (внешн.):</td>
                            <td><input type="text" name="f3" value="@Model.NetSqlГарзаДоговоры.Rows[0]["f3"]" /></td>
                        </tr>
                        <tr>
                            <td>Наименование клиента:</td>
                            <td>
                                <input type="text" name="f4" data-code="" data-inn="" data-city="" value="@Model.NetSqlГарзаДоговоры.Rows[0]["f4"]" />
                                <input type="button" name="f4b" value="..." onclick="AgrsViewsF1Detail.stackPanelButtonClick('Клиенты')" />
                                <input type="hidden" name="f4c" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td>Населённый пункт:</td>
                            <td><input type="text" name="f5" value="@Model.NetSqlГарзаДоговоры.Rows[0]["f5"]" /></td>
                        </tr>
                        <tr>
                            <td>Дата договора:</td>
                            <td><input type="text" name="f6" class="date" value="@((v6 is DateTime) ? ((DateTime)v6).ToString("yyyy-MM-dd") : "")" /></td>
                        </tr>
                        <tr>
                            <td>Дата внесения в реестр:</td>
                            <td><input type="text" name="f7" class="date" value="@((v7 is DateTime) ? ((DateTime)v7).ToString("yyyy-MM-dd") : "")" /></td>
                        </tr>
                        <tr>
                            <td>Контрольная дата возврата:</td>
                            <td><input type="text" name="f8" class="date" value="@((v8 is DateTime) ? ((DateTime)v8).ToString("yyyy-MM-dd") : "")" /></td>
                        </tr>
                        <tr>
                            <td>Дата возврата:</td>
                            <td><input type="text" name="f9" class="date" value="@((v9 is DateTime) ? ((DateTime)v9).ToString("yyyy-MM-dd") : "")" /></td>
                        </tr>
                    </table>
                </td>
                <td class="c2">
                    <table>
                        <tr>
                            <td>Нал:</td>
                            <td><input type="text" name="f10" value="@Model.NetSqlГарзаДоговоры.Rows[0]["f10"]" /></td>
                        </tr>
                        <tr>
                            <td>Менеджер:</td>
                            <td>
                                <input type="text" name="f12" data-code="" data-inn="" data-city="" value="@Model.NetSqlГарзаДоговоры.Rows[0]["f12"]" />
                                <input type="button" name="f12b" value="..." onclick="AgrsViewsF1Detail.stackPanelButtonClick('Сотрудники')" />
                                <input type="hidden" name="f12c" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td>Сумма:</td>
                            <td><input type="text" name="f13" class="n2" value="@((v13 is Double) ? ((Double)v13).ToString("n2") : "")" /></td>
                        </tr>
                        <tr>
                            <td>№ торгов:</td>
                            <td><input type="text" name="f15" value="@Model.NetSqlГарзаДоговоры.Rows[0]["f15"]" /></td>
                        </tr>
                        <tr>
                            <td>Комментарий:</td>
                            <td><input type="text" name="f16" value="@Model.NetSqlГарзаДоговоры.Rows[0]["f16"]" /></td>
                        </tr>
                        <tr>
                            <td>Финансирование:</td>
                            <td>
                                <input type="text" name="fin" value="@Model.NetSqlГарзаДоговоры.Rows[0]["fin"]" />
                            </td>
                        </tr>
                        <tr>
                            <td>Дата окончания:</td>
                            <td><input type="text" name="ДатаОкончания" class="date" value="@((v71 is DateTime) ? ((DateTime)v71).ToString("yyyy-MM-dd") : "")" /></td>
                        </tr>
                        <tr>
                            <td>Отсрочка платежа:</td>
                            <td><input type="text" name="ОтсрочкаПлатежа" class="n0" value="@Model.NetSqlГарзаДоговоры.Rows[0]["ОтсрочкаПлатежа"]" /></td>
                        </tr>
                        <tr>
                            <td>Пролонгация:</td>
                            <td><input type="text" name="Пролонгация" value="@Model.NetSqlГарзаДоговоры.Rows[0]["Пролонгация"]" /></td>
                        </tr>
                    </table>
                </td>
                <td class="c3" style="padding-left: 10px">
                    <table style="border: 1pt solid black">
                        <tr>
                            <td style="text-align:left"><input type="checkbox" name="ur" @ur onclick="AgrsViewsF1Detail.toggleUr(this)" />Рассылка документов</td>
                        </tr>
                        <tr>
                            <td style="text-align:left; padding-left: 10px"><input type="checkbox" name="urd1" @urd1 class="urDoc" disabled="disabled" />Включить в рассылку Счёт</td>
                        </tr>
                        <tr>
                            <td style="text-align:left; padding-left: 10px"><input type="checkbox" name="urd2" @urd2 class="urDoc" disabled="disabled" />Включить в рассылку Накладную</td>
                        </tr>
                        <tr>
                            <td style="text-align:left; padding-left: 10px"><input type="checkbox" name="urd3" @urd3 class="urDoc" disabled="disabled" />Включить в рассылку Акт</td>
                        </tr>
                        <tr>
                            <td style="text-align:left; padding-left: 10px"><input type="checkbox" name="urd4" @urd4 class="urDoc" disabled="disabled" />Включить в рассылку Счёт-фактуру</td>
                        </tr>
                        <tr>
                            <td style="text-align:left; padding-left: 10px"><input type="checkbox" name="urd5" @urd5 class="urDoc" disabled="disabled" />Включить в рассылку Документы качества</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
    <div class="modal_bg" style="display: none;">
        <div class="modal_box">
            <div class="modal_header">
                <span onclick="$(this.parentNode.parentNode.parentNode).hide();">&times</span>
            </div>
            <div class="modal_content">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var AgrsViewsF1Detail = (function () {
        var main = $('#agrs_views_f1_detail');
        var modalBG = main.find('div.modal_bg');
        var modalContent = main.find('div.modal_content');
        var filter4 = main.find('input[type="text"][name="f4"]'); // Клиенты
        var code4 = main.find('input[type="hidden"][name="f4c"]');
        var filter12 = main.find('input[type="text"][name="f12"]'); // Сотрудники
        var code12 = main.find('input[type="hidden"][name="f12c"]');
        main.find('input').change(function () { fieldChange(this); });
        main.find('input.date').change(function () { Nskd.Validator.dNorm(this); });
        main.find('input.n2').change(function () { Nskd.Validator.nNorm(this, 2); });
        main.find('input.n0').change(function () { Nskd.Validator.nNorm(this, 0); });
        filter4.change(function () { code4.val(''); });
        filter12.change(function () { code12.val(''); });
        function fieldChange(element) {
            $(element).css('background-color', '#cfc');
            $('#p_agrs_f1_save_button').css('background-color', '#cfc');
            $('#p_agrs_f1_save_button').prop('disabled', false);
        }
        return {
            stackPanelButtonClick: function (tableName) {
                // если что-то введено в TextBox, то использовать как фильтр
                var filter;
                var code;
                if (tableName == 'Клиенты') { filter = filter4; code = code4; }
                else { filter = filter12; code = code12; } // Сотрудники
                var rqp = {
                    Parameters: [
                        { Name: 'tableName', Value: tableName },
                        { Name: 'filter', Value: filter.val().trim() }
                    ]
                };
                //alert(Nskd.Json.toString(rqp));
                Nskd.Http.post({
                    url: '/Agrs/F1/SelectorWithListBox/GetData',
                    rqp: rqp,
                    done: function (data) {
                        //alert(data);
                        modalContent.html(data);
                        // на все строчки вешаем обработчик
                        modalContent.find('tr').click(function () {
                            var tr = $(this);
                            // первая ячейка - код. Переписываем его в атрибут 'data-code'.
                            filter.attr('data-code', tr.find('td:eq(0)').text());
                            //      и в 'code'
                            code.val(tr.find('td:eq(0)').text());
                            // вторая ячейка - описание. Переписываем его в атрибут 'value'.
                            filter.val(tr.find('td:eq(1)').text());
                            // третья ячейка - инн. Переписываем его в атрибут 'data-inn'.
                            filter.attr('data-inn', tr.find('td:eq(2)').text());
                            // четвётая ячейка - город. Переписываем его в атрибут 'data-city'.
                            filter.attr('data-city', tr.find('td:eq(3)').text());
                            // Переносим город, если он есть, в поле "Город (населённый пункт) в родительской форме"
                            if (filter.attr('data-city')) {
                                $('input[type="text"][name="f5"]').val(filter.attr('data-city'));
                            }
                            // выбор сделан. Убираем список.
                            modalBG.hide();
                        });
                    }
                });
                modalContent.html('<span>Выполняется загрузка данных. Пожалуйста подождите.</span>');
                modalBG.show();
            },
            toggleUr: function (element) {
                var e = $(element);
                var urDocs = e.closest('table').find('input[class="urDoc"]');
                if (e.prop('checked')) {
                    urDocs.prop('checked', true);
                    urDocs.prop('disabled', false);
                } else {
                    urDocs.prop('checked', false);
                    urDocs.prop('disabled', true);
                }
            }
        };
    })();
</script>
